<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop.xsd">
           
	<context:annotation-config />
	<!-- context:component-scan base-package="himedia.myportal"
		use-default-filters="false" -->
	<context:component-scan base-package="himedia.myportal">
		<!-- context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" / -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- Date Source 등록 -->
<!-- 	<bean id="dateSource" class="org.apache.commons.dbcp2.BasicDataSource" >
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mypotal" />
		<property name="username" value="webdb" />
		<property name="password" value="webdb" />
	</bean> -->
	
	<!-- Data Source 등록 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/myportal" />
		<property name="username" value="webdb" />
		<property name="password" value="webdb" />			
	</bean>
	
	
	<!-- MyBatis SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/configuration.xml" />
	</bean>
	
	<!-- MyBatis SqlSessionTemplate  -->
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
</beans>          
           
           
<!--      <context:annotation-config />
     <context:component-scan base-package="himedia.mypotal">
     	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
     	<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
     	<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
     	<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
     </context:component-scan>
</beans> -->
